*{
    box-sizing: border-box;
}

.by-2
{
    display: inline-block;
    width: 48%;
    margin: 5px 1%;
    font-size: x-large;
}
.lm-5
{
    margin-left: 25px;
}
.w-25
{
    display: inline-block;
    width: 25%;
}
.w-75
{
    display: inline-block;
    width: 75%;
}

.padding
{
    padding: 5px 25px;
}
.background-color
{
    background-color: rgb(253,253, 253);
}



@media only screen and (max-width: 1000px) {

    .by-2
    {
        display: inline-block;
        width: 46%;
        margin: 5px 1%;
        font-size: large;
    }
}

@media only screen and (max-width: 800px) {

    .by-2
    {
        display: inline-block;
        width: 98%;
        margin: 5px 1%;
        font-size: xx-largeS;
    }
}

@media only screen and (max-width: 800px) {

    .by-2
    {
        display: inline-block;
        width: 98%;
        margin: 5px 1%;
        font-size: medium;
    }
}