*{
    box-sizing: border-box;
}

.by-2
{
    display: inline-block;
    width: 48%;
    margin: 5px 1%;
    font-size: x-large;
}
.float-left
{
    float: left;
}
.lm-5
{
    margin-left: 25px;
}
.w-25
{
    display: inline-block;
    width: 25%;
}
.w-75
{
    display: inline-block;
    width: 75%;
}
span
{
    padding: 5px;
}
.text-center
{
    color: crimson;
    text-align: center;
}
.p-5
{
    padding: 5px;
}